<!DOCTYPE html>
<html>
<head>
    <title>Agregar Producto</title>
</head>
<body>
    <h1>Agregar Producto</h1>
    <form method="POST" action="/agregar">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br><br>
        
        <label for="precio">Precio:</label>
        <input type="number" name="precio" step="0.01" required><br><br>

        <label for="categoria">Categoría:</label>
        <input type="text" name="categoria" required><br><br>

        <label for="imagen">URL de la Imagen:</label>
        <input type="text" name="imagen"><br><br>

        <input type="submit" value="Agregar Producto">
    </form>
</body>
</html>
